/*Base styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-container {
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
}

.date {
  font-family: Lora, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.date--hero {
  margin-right: 12px;
  color: #e5e5e5;
}
.date--card {
  color: #6c757d;
  margin-top: 17px;
  margin-left: 20px;
  display: block;
}
.date--big-post {
  display: block;
  color: #e5e5e5;
}
.date--blog-post {
  color: #e5e5e5;
}

.tag {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  padding: 5px 10px;
  font-style: normal;
  white-space: nowrap;
  cursor: pointer;
}
.tag:hover {
  background-color: #d4a373;
}
.tag--hero {
  margin-bottom: 16px;
  display: inline-block;
}
.tag--big-post {
  margin-bottom: 26px;
  display: inline-block;
}
.tag--card {
  margin-right: 5px;
}
.tag--card:first {
  margin-right: 0;
}
.tag__container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 9px 15px;
  line-height: 40px;
  word-wrap: break-word;
  overflow: auto;
  text-align: right;
  box-sizing: border-box;
}

/* Header */
header {
  background-image: url("../img/slider.jpeg");
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  background-color: rgba(0, 0, 0, 0.2);
}
.header__top {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 30px 0 26px 0;
  position: relative;
  z-index: 1;
}
.header__navigation-container {
  display: flex;
}
.header__logo {
  position: relative;
  top: -2px;
  left: 2px;
}
.header__menu {
  align-items: center;
  display: flex;
  list-style: none;
}
.header__menu-item {
  margin-left: 28px;
  line-height: 19px;
}
.header__menu-item:last-child {
  margin-right: 17px;
}
.header__menu-link {
  border-bottom: 0.125rem solid transparent;
  color: #e5e5e5;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 33px;
  margin-top: 33px;
  padding-bottom: 0.125rem;
  text-decoration: none;
  font-style: normal;
  line-height: normal;
}
.header__menu-link:hover {
  border-bottom-color: #d4a373;
}
.header__menu-link--active {
  border-bottom-color: #d4a373;
  color: #fff;
}
.header__search-box {
  padding-left: 16px;
}
.header__search-box input {
  border: none;
  border-radius: 5px;
  color: #e5e5e5;
  font-family: Roboto, sans-serif;
  font-size: 0.75rem;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  padding: 5px;
}
.header__search-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__search-box button i {
  color: #e5e5e5;
  font-size: 20px;
}
.header__social-icons {
  align-items: center;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  display: flex;
  list-style: none;
  padding-left: 15px;
}
.header__social-icon {
  margin-right: 18px;
}
.header__icon-image {
  fill: #fff;
}
.header__icon-image:hover {
  fill: #d4a373;
}

/* Hero Section */
.hero {
  height: 521px;
  position: relative;
}
.hero__content {
  display: flex;
  align-items: baseline;
}
.hero__text-container {
  position: absolute;
  width: 575px;
  bottom: 141px;
}
.hero__title {
  color: #fff;
  font-family: Lora, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 13px 0;
  font-style: normal;
}
.hero__content-line {
  margin-right: 10px;
  position: relative;
  bottom: 3px;
  height: 1px;
  background-color: #e5e5e5;
  width: 30px;
}
.hero__content-summary {
  color: #e5e5e5;
  font-size: 12px;
  font-family: Lora, sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
}

/*Topics*/
.topics {
  background-color: #f8f9fa;
  position: relative;
  padding: 150px 0 100px 0;
}
.topics__title {
  color: #495057;
  font-family: Lora, sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
.topics__filter {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.topics__filter-navigation {
  display: flex;
}
.topics__filter-navigation-item {
  margin-right: 21px;
  text-decoration: none;
  color: #495057;
  font-family: Lora, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  font-style: normal;
}
.topics__filter-navigation-item:last-child {
  margin-right: 0;
}
.topics__filter-navigation-item:hover {
  color: #d4a373;
}
.topics__filter-navigation-item:active {
  color: #d4a373;
}
.topics__active {
  color: #d4a373;
}

/*Cards*/
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards__container {
  flex-basis: calc(25% - 15px);
  margin-bottom: 50px;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.cards__photo {
  position: relative;
}
.cards__title {
  color: #495057;
  font-family: Lora, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 15px;
  margin-left: 20px;
  width: 270px;
  font-style: normal;
}
.cards__description {
  color: #6c757d;
  font-family: Lora, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin: 15px 20px 20px 20px;
  width: 270px;
  font-style: normal;
}
.cards__line {
  width: 270px;
  height: 0.5px;
  background-color: #e5e5e5;
  margin-left: 20px;
}
.cards__author-container {
  padding: 18px 21px 17px 21px;
  display: flex;
  justify-content: flex-start;
}
.cards__author-image {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: -1px;
  top: 1px;
}
.cards__author {
  display: inline-block;
  vertical-align: top;
  padding: 6px 13px 5px 17px;
}
.cards__author-name {
  color: #495057;
  font-family: Lora, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  font-style: normal;
}
.cards__author-role {
  color: #6c757d;
  font-family: Lora, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
}

/*Big Post*/
.big-post {
  background-image: linear-gradient(rgba(52, 58, 64, 0.5), rgba(52, 58, 64, 0.5)), url("../img/waves.jpeg");
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.big-post__content-container {
  position: absolute;
  height: 100%;
  display: grid;
  top: 0;
  width: 100%;
}
.big-post__content {
  margin: auto;
  width: 530px;
  text-align: center;
}
.big-post__content-title {
  margin-bottom: 12px;
  color: #fff;
  font-family: Lora, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.big-post__content-summary {
  margin-bottom: 26px;
  text-align: center;
  color: #e5e5e5;
  font-size: 12px;
  font-family: Lora, sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  width: 420px;
  margin: 0 auto 22px auto;
}
.big-post__line {
  height: 1px;
  background-color: #e5e5e5;
  width: 30px;
  display: inline-block;
  margin-bottom: 12px;
}

/*Blog posts*/
.blog-posts {
  padding: 150px 0px 150px 0px;
  background-color: #f8f9fa;
}
.blog-posts__title {
  color: #495057;
  font-family: Lora, sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  margin-bottom: 70px;
}
.blog-posts__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.blog-posts__blog-item-container {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.blog-posts__image {
  object-fit: cover;
  vertical-align: top;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.blog-posts__content-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  padding: 10px 0px 10px 0px;
  margin-left: 40px;
}
.blog-posts__content-title {
  color: #fff;
  font-family: Lora;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 15px;
  width: 270px;
  font-style: normal;
}
.blog-posts__content-description {
  color: #e5e5e5;
  font-family: Lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 15px;
  width: 335px;
  font-style: normal;
}

/*Subfooter*/
.subfooter {
  background-color: #212529;
}
.subfooter__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 106px 0px 86px 0px;
}
.subfooter__content-title {
  color: #fff;
  font-family: Lora, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 14px;
}
.subfooter__content-email, .subfooter__content-phone {
  text-decoration: none;
  color: #e5e5e5;
  font-family: Lora, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 18px;
  font-style: normal;
  display: inline-block;
  margin-bottom: 15px;
}
.subfooter__navigation {
  list-style-type: none;
}
.subfooter__navigation-item {
  display: block;
  text-decoration: none;
  color: #e5e5e5;
  font-family: Lora, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin: 18px 0;
  width: 114px;
  margin-bottom: 18px;
}
.subfooter__navigation-item:hover {
  color: #d4a373;
}
.subfooter__content-address {
  color: #e5e5e5;
  font-family: Lora, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 114px;
}
.subfooter__social-icons {
  display: flex;
  align-items: center;
  list-style: none;
}
.subfooter__social-icon {
  margin-right: 18px;
  width: 114px;
}
.subfooter__icon-image {
  fill: #fff;
}
.subfooter__icon-image:hover {
  fill: #d4a373;
}
.subfooter__explorate-container {
  padding-left: 6px;
}
.subfooter__headquarter-container {
  padding-left: 11px;
}
.subfooter__connections-container {
  padding-left: 15px;
}

/*Footer*/
.footer {
  background-color: #343a40;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 41px 0;
}
.footer__copyright {
  color: #e5e5e5;
  font-family: Lora, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer__subscribe {
  text-decoration: none;
  color: #e5e5e5;
  font-family: Lora, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*# sourceMappingURL=styles.css.map */
