$primary-color: #e5e5e5;
$primary-bold-color: #fff;
$secondary-color: #6c757d;
$secondary-bold-color: #495057;
$accent-color: #d4a373;

$background-header-color: rgba(0, 0, 0, 0.2);
$background-subfooter-color: #212529;
$background-footer-color: #343a40;

$font-family-roboto: Roboto, sans-serif;
$font-family-lora: Lora, sans-serif;

/*Base styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-container {
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
}

.date {
  font-family: $font-family-lora;
  font-size: 12px;
  font-weight: 400;

  &--hero {
    margin-right: 12px;
    color: $primary-color;
  }

  &--card {
    color: $secondary-color;
    margin-top: 17px;
    margin-left: 20px;
    display: block;
  }

  &--big-post {
    display: block;
    color: $primary-color;
  }

  &--blog-post {
    color: $primary-color;
  }
}

.tag {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  color: $primary-bold-color;
  font-family: $font-family-roboto;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  padding: 5px 10px;
  font-style: normal;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: $accent-color;
  }

  &--hero {
    margin-bottom: 16px;
    display: inline-block;
  }

  &--big-post {
    margin-bottom: 26px;
    display: inline-block;
  }

  &--card {
    margin-right: 5px;

    &:first {
      margin-right: 0;
    }
  }

  &__container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 9px 15px;
    line-height: 40px;
    word-wrap: break-word;
    overflow: auto;
    text-align: right;
    box-sizing: border-box;
  }
}

/* Header */

header {
  background-image: url("../img/slider.jpeg");
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  background-color: $background-header-color;

  &__top {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 26px 0;
    position: relative;
    z-index: 1;
  }

  &__navigation-container {
    display: flex;
  }

  &__logo {
    position: relative;
    top: -2px;
    left: 2px;
  }

  &__menu {
    align-items: center;
    display: flex;
    list-style: none;
  }

  &__menu-item {
    margin-left: 28px;
    line-height: 19px;

    &:last-child {
      margin-right: 17px;
    }
  }

  &__menu-link {
    border-bottom: 0.125rem solid transparent;
    color: $primary-color;
    font-family: $font-family-roboto;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 33px;
    margin-top: 33px;
    padding-bottom: 0.125rem;
    text-decoration: none;
    font-style: normal;
    line-height: normal;

    &:hover {
      border-bottom-color: $accent-color;
    }

    &--active {
      border-bottom-color: $accent-color;
      color: $primary-bold-color;
    }
  }

  &__search-box {
    padding-left: 16px;

    input {
      border: none;
      border-radius: 5px;
      color: $primary-color;
      font-family: $font-family-roboto;
      font-size: 0.75rem;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      padding: 5px;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      i {
        color: $primary-color;
        font-size: 20px;
      }
    }
  }

  &__social-icons {
    align-items: center;
    border-left: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    display: flex;
    list-style: none;
    padding-left: 15px;
  }

  &__social-icon {
    margin-right: 18px;
  }

  &__icon-image {
    fill: $primary-bold-color;

    &:hover {
      fill: $accent-color;
    }
  }
}

/* Hero Section */
.hero {
  height: 521px;
  position: relative;

  &__content {
    display: flex;
    align-items: baseline;
  }

  &__text-container {
    position: absolute;
    width: 575px;
    bottom: 141px;
  }

  &__title {
    color: $primary-bold-color;
    font-family: $font-family-lora;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 13px 0;
    font-style: normal;
  }

  &__content-line {
    margin-right: 10px;
    position: relative;
    bottom: 3px;
    height: 1px;
    background-color: $primary-color;
    width: 30px;
  }

  &__content-summary {
    color: $primary-color;
    font-size: 12px;
    font-family: $font-family-lora;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
  }
}

/*Topics*/

.topics {
  background-color: #f8f9fa;
  position: relative;
  padding: 150px 0 100px 0;

  &__title {
    color: $secondary-bold-color;
    font-family: $font-family-lora;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
  }

  &__filter {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }

  &__filter-navigation {
    display: flex;
  }

  &__filter-navigation-item {
    margin-right: 21px;
    text-decoration: none;
    color: $secondary-bold-color;
    font-family: $font-family-lora;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    font-style: normal;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $accent-color;
    }

    &:active {
      color: $accent-color;
    }
  }

  &__active {
    color: $accent-color;
  }
}

/*Cards*/
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__container {
    flex-basis: calc(25% - 15px);
    margin-bottom: 50px;
    height: 100%;
    background-color: $primary-bold-color;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__photo {
    position: relative;
  }

  &__title {
    color: $secondary-bold-color;
    font-family: $font-family-lora;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 15px;
    margin-left: 20px;
    width: 270px;
    font-style: normal;
  }

  &__description {
    color: $secondary-color;
    font-family: $font-family-lora;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 15px 20px 20px 20px;
    width: 270px;
    font-style: normal;
  }

  &__line {
    width: 270px;
    height: 0.5px;
    background-color: $primary-color;
    margin-left: 20px;
  }

  &__author-container {
    padding: 18px 21px 17px 21px;
    display: flex;
    justify-content: flex-start;
  }

  &__author-image {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: -1px;
    top: 1px;
  }

  &__author {
    display: inline-block;
    vertical-align: top;
    padding: 6px 13px 5px 17px;
  }

  &__author-name {
    color: $secondary-bold-color;
    font-family: $font-family-lora;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    font-style: normal;
  }

  &__author-role {
    color: $secondary-color;
    font-family: $font-family-lora;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
  }
}

/*Big Post*/
.big-post {
  background-image: linear-gradient(
      rgba(52, 58, 64, 0.5),
      rgba(52, 58, 64, 0.5)
    ),
    url("../img/waves.jpeg");
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &__content-container {
    position: absolute;
    height: 100%;
    display: grid;
    top: 0;
    width: 100%;
  }

  &__content {
    margin: auto;
    width: 530px;
    text-align: center;
  }

  &__content-title {
    margin-bottom: 12px;
    color: $primary-bold-color;
    font-family: $font-family-lora;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
  }

  &__content-summary {
    margin-bottom: 26px;
    text-align: center;
    color: $primary-color;
    font-size: 12px;
    font-family: $font-family-lora;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    width: 420px;
    margin: 0 auto 22px auto;
  }

  &__line {
    height: 1px;
    background-color: $primary-color;
    width: 30px;
    display: inline-block;
    margin-bottom: 12px;
  }
}

/*Blog posts*/
.blog-posts {
  padding: 150px 0px 150px 0px;
  background-color: #f8f9fa;

  &__title {
    color: $secondary-bold-color;
    font-family: $font-family-lora;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    margin-bottom: 70px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  &__blog-item-container {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
  }

  &__image {
    object-fit: cover;
    vertical-align: top;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  &__content-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    padding: 10px 0px 10px 0px;
    margin-left: 40px;
  }

  &__content-title {
    color: $primary-bold-color;
    font-family: Lora;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 15px;
    width: 270px;
    font-style: normal;
  }

  &__content-description {
    color: $primary-color;
    font-family: Lora;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 15px;
    width: 335px;
    font-style: normal;
  }
}

/*Subfooter*/
.subfooter {
  background-color: $background-subfooter-color;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 106px 0px 86px 0px;
  }

  &__content-title {
    color: $primary-bold-color;
    font-family: $font-family-lora;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 14px;
  }

  &__content-email,
  &__content-phone {
    text-decoration: none;
    color: $primary-color;
    font-family: $font-family-lora;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
    font-style: normal;
    display: inline-block;
    margin-bottom: 15px;
  }

  &__navigation {
    list-style-type: none;
  }

  &__navigation-item {
    display: block;
    text-decoration: none;
    color: $primary-color;
    font-family: $font-family-lora;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin: 18px 0;
    width: 114px;
    margin-bottom: 18px;

    &:hover {
      color: $accent-color;
    }
  }

  &__content-address {
    color: $primary-color;
    font-family: $font-family-lora;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 114px;
  }

  &__social-icons {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__social-icon {
    margin-right: 18px;
    width: 114px;
  }

  &__icon-image {
    fill: $primary-bold-color;

    &:hover {
      fill: $accent-color;
    }
  }

  &__explorate-container {
    padding-left: 6px;
  }

  &__headquarter-container {
    padding-left: 11px;
  }

  &__connections-container {
    padding-left: 15px;
  }
}
/*Footer*/
.footer {
  background-color: $background-footer-color;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 41px 0;
  }

  &__copyright {
    color: $primary-color;
    font-family: $font-family-lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__subscribe {
    text-decoration: none;
    color: $primary-color;
    font-family: $font-family-lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
